@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 398px;
  overflow-x: hidden;
  max-width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  height: 90px;
  padding: 15px;
  background-color: #f72210;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  font-family: 'Roboto', sans-serif;
}

.header-right {
  font-size: 0.875rem;
}

.header-btn {
  padding: 0.188rem 0.375rem;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.signin-btn,
.signin-btn:hover {
  color: #fff;
  text-decoration: none;
}

.subscribe-btn,
.subscribe-btn:hover {
  background-color: #fff;
  color: #f72210;
  text-decoration: none;
}

.img-logo {
  width: 100%;
  height: auto;
}

.empty {
  height: 90px;
  width: 100%;
}

.navbar {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  height: 50px;
  padding: 15px;
  padding-right: 60px;
  background-color: whitesmoke;
}

.nav-btn {
  color: whitesmoke;
  height: 7%;
  margin-right: 10px;
}

nav ul li {
  text-align: center;
  border-left: 1px solid #ddd;
  margin: auto;
  flex-grow: 1;
}

.nav-link:hover {
  color: #f72210;
  text-decoration: none;
}

.nav-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 78px;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.article-section-heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(3, 3, 3, 0.4);
}

main {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  height: 1000px;
}

.main-content {
  width: 100%;
  height: 1000px;
}

.article-section-heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(3, 3, 3, 0.4);
}

.story-container {
  font-family: 'Roboto Condensed', sans-serif;
}

.story-image {
  width: 100%;
  height: auto;
}

.card {
  border: none;
}

.card-img-category {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  font-weight: 700;
}

.card-body {
  padding: 0.625rem 0 0;
}

.card-title {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.625rem;
}

.card-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: #333;
}

.card-title-link-primary {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
}

.card-title-link-primary:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #f72210;
}

.card-title-link-secondary {
  color: #000;
}

.card-title-link-secondary:hover {
  color: #f72210;
  text-decoration: none;
}

.card-title-link-nohover,
.card-title-link-nohover:hover {
  color: #000;
  text-decoration: none;
}

.card-horizontal {
  padding: 0.875rem 0;
  border-top: ;
}

.card-horizontal-title {
  font-size: 1.063rem;
  line-height: 1.2;
}

.card-horizontal-body {
  padding-top: 0;
}

.card-img-sized {
  width: 5.938rem;
  height: 5.938rem;
  object-fit: cover;
  margin-right: 0.938rem;
}

.card-img-author {
  margin-right: 0.938rem;
}

.card-text-author {
  font-size: 0.875rem;
  font-weight: 700;
  color: #555;
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.feat-stories-article {
  padding-bottom: 1.25rem;
}

.culture-travel .card-body {
  padding: 0.938rem 0 1.25rem;
}

.culture-travel-article .card-title {
  font-family: 'Lora', serif;
  font-weight: normal;
  font-size: 1.25rem;
}

.culture-travel .card-text {
  font-size: 0.938rem;
  color: rgba(39, 39, 39, 0.5);
}

.section-heading {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(3, 3, 3, 0.4);
}

.card-img-culture {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #272727;
  background-color: #c2d4d7;
  z-index: 1;
  height: 1.25rem;
  line-height: 1.25rem;
  padding: 0 0.375rem;
  font-family: Helvetica, sans-serif;
  font-size: 0.813rem;
}

.card-img-culture:hover {
  color: #c2d4d7;
  background-color: #272727;
  text-decoration: none;
}

.card-title-link-culture,
.card-title-link-culture:hover {
  text-decoration: none;
  color: #272727;
}

.debate-article-1 {
  border-top: 4px solid #f72210;
}

.debate-article-2 {
  border-top: 4px solid #1c87fb;
}

.debate-author-container {
  padding-top: 0.938rem;
}

.debate-author {
  font-size: 0.875rem;
  line-height: 1;
  padding-top: 0.938rem;
  border-top: 4px double #ddd;
}

.debate-author-link,
.debate-author-link:hover {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.debate-author-img {
  width: 63px;
  height: 63px;
  object-fit: cover;
  z-index: 1;
  right: 4px;
  top: 0;
}

.debate-versus {
  width: 40px;
  height: 40px;
  margin: 1.5rem auto 1.125rem;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #000;
  color: #d6d6d6;
}

.signup-container {
  max-width: 300px;
  padding: 20px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.signup .signup-btn {
  background-color: #666;
}

.signup-btn {
  color: #fff;
  padding: 0.625rem;
  display: inline-block;
  line-height: 1;
}

.subscribe .signup-btn,
.newsletter .signup-btn {
  background-color: #f72210;
}

.signup-btn:hover {
  color: #fff;
  text-decoration: none;
}

.signup-preferences {
  display: block;
  font-size: 0.938rem;
  color: #333;
  font-weight: 700;
}

.signup-btn:hover {
  color: #fff;
  text-decoration: none;
}

.signup-preferences {
  display: block;
  font-size: 0.938rem;
  color: #333;
  font-weight: 700;
}

.section-heading {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(3, 3, 3, 0.4);
}

.secondary-heading {
  font-size: 1.188rem;
  color: #333;
  margin-bottom: 0;
}

.secondary-section-heading {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.heading-logo {
  background: url("https://g.newsweek.com/www/images/logo-n1.svg") center / contain no-repeat #f72210;
  width: 29px;
  height: 28px;
  flex: none;
  margin-right: 10px;
}

.category-heading {
  font-size: 1.375rem;
  color: #f72210;
  font-weight: 700;
}

.sign-btn {
  font-size: 1.125rem;
  font-weight: 700;
}

.mt-3, .my-3 {
  margin-top: 1rem!important;
}

.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}

.sign-rectangle {
  height: 40px;
  width: 43%;
  background-color: #666;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.container-fluid {
  max-width: 1310px;
  background-color: #fff;
}

.magazine-cover-features {
  display: block;
  text-align: center;
  padding: 0.625rem;
  line-height: 1;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #eee;
}

.magazine-cover-features:hover {
  background-color: #ddd;
}

.magazine-category {
  color: #fff;
  background-color: #f72210;
}

.magazine-sub-category {
  color: #f72210;
}

.magazine-category,
.magazine-sub-category {
  display: inline-block;
  font-weight: 700;
  padding: 0 0.375rem;
  margin-top: 0.625rem;
}

@media screen and (min-width: 1310px) {
  .magazine-article .card-img-top {
    height: 19vw;
  }

  .magazine-aftermath .card-img-top {
    height: 21vw;
  }
}





