* {
  box-sizing: border-box;
}

h2 {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-top: 12px;
}

img {
  vertical-align: middle;
  height: auto;
}

body {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
}

a {
  text-decoration: none;
}

footer a {
  color: #666;
}

footer ul {
  list-style: none;
  flex-wrap: wrap;
}

footer li {
  margin-right: 10px;
}

.featuredStory .ticky-top {
  z-index: -1;
}

.text-danger {
  color: #f72110;
}

.page-header {
  color: #fff;
  font: bold 14px/14px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  z-index: 99999;
}

.page-header .redBg {
  background: #f72110;
}

.opinion hr {
  margin-top: 0;
}

.tag a {
  color: #333;
}

.menuSub a {
  color: #f72110;
}

.opinionImage > img {
  object-fit: contain;
  width: 66px;
  height: 66px;
  margin-bottom: 14px;
}

.insight article {
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.page-header svg {
  fill: #fff;
  max-height: 200px;
  max-width: 250px;
}

.logo svg {
  fill: #f72110;
  max-width: 200px;
}

.icons a {
  font-size: 26px;
  color: #666;
  margin-right: 10px;
}

.page-header ul {
  list-style: none;
  display: flex;
  display: box;
  font-size: 18px;
  white-space: nowrap;
}

.greyBg article {
  margin-bottom: 20px;
}

.page-header ul > li {
  margin-right: 10px;
  padding: 5px;
}

.page-header .bg-white li {
  border-left: 1px solid #d9d9d9;
  flex-grow: 1;
}

.page-header .bg-white {
  border-bottom: 1px solid #d9d9d9;
}

.page-header a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration-color: #f72110;
}

footer a:hover {
  text-decoration: none;
  color: #000;
}

.page-header li a {
  color: #000;
  font-size: 15px;
}

.subImgTwo {
  position: relative;
  right: 101px;
  top: 14px;
}

.articleTitle {
  font-size: 22px;
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  color: black;
}

.articleTitle2 {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  color: black;
  font-weight: 800;
}

.articleTitle3 {
  display: block;
  color: #272727;
  font: 20px/22px "Lora", serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.opinion .articleTitle2,
.latestNews .articleTitle2 {
  font-size: 13px;
  line-height: 12px;
}

.opinion .articleTitle3 {
  font-size: 12px;
}

.newLaterImg {
  height: 150px;
}

.menuSub {
  background: #fff;
  color: #f72110;
}

.imgContainer {
  margin: 0;
  padding: 0;
  display: inline;
}

.imgContainer img {
  width: 100%;
  object-fit: cover;
}

.textBorder {
  border-top: 20px solid red;
  border-left: 20px solid #f6f6f6;
  position: absolute;
  width: 40px;
  top: 0;
  right: 0;
}

.imgContainer span {
  position: relative;
  bottom: 25px;
  left: 0;
  color: #f72110;
  background: #fff;
  padding: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.imgContainer span a {
  color: #f72110;
  text-decoration-line: none;
  text-transform: uppercase;
}

.greyBg {
  background-color: #f4f5f7;
}

.tag {
  display: inline-block;
  background-color: #c2d4d7;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.fa-bars {
  color: #333;
}

.ipinoinImage {
  border-radius: 50%;
}

.icon-n {
  -webkit-flex: none;
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}

.sticky {
  position: sticky !important;
  top: 0;
}

#topstory {
  position: sticky;
  top: 0;
}

* {
  overflow: unset;
  overflow-wrap: unset;
  overflow-y: unset;
  overflow-x: unset;
}

@media (min-width: 768px) {
  .newLaterImg {
    height: 94%;
    object-fit: contain;
  }

  .p-footer {
    font: 300 15px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .logo svg {
    min-width: 200px;
  }

  .logo p {
    margin: 0 auto;
  }
}

@media (min-width: 994px) {
  .page-header {
    position: unset !important;
  }
}